.ingridients {
  max-width: 600px;
}

.ingridients__container {
  max-height: 756px;
  overflow-y: auto;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}

.modal__content_ingridient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close_ingridient {
  top: 50px;
  right: 40px;
}
