.app {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

.page {
  margin: 0 auto;
  padding: 40px;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
