.app {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

.page {
  margin: 0 auto;
  padding: 40px;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.modal__content_ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close_ingredient {
  top: 50px;
  right: 40px;
}

.modal__close_order {
  display: none;
}

.modal__content_order {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
