.card {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__description {
  text-align: center;
}

.modal__content_ingridient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close_ingridient {
  top: 50px;
  right: 40px;
}
