.container {
  margin-top: 180px;
}

.title {
  text-align: center;
}

.help__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.link {
  color: #4c4cff;
}
