.number {
  display: block;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success {
  color: #00cccc;
}

.ingredients {
  overflow: auto;
  max-height: 366px;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 16px;
}

.image {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.title {
  flex-grow: 1;
}
