.header {
  background: #1c1c21;
  max-width: 1920px;
}

.navigation {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__group {
  display: flex;
}

.navigation__link {
  display: flex;
  gap: 8px;
}

.logo__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text_active {
  color: var(--text-primary-color);
}

.text_active > svg {
  fill: currentColor;
}
