.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 272px;
}

.card:hover {
  cursor: pointer;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__description {
  text-align: center;
}
